.vscode/
cse220/test.json
seop/cse220_home/exp/
seop/cse220_home/scarab/src/bp/bp_test.txt
seop/cse220_home/scarab/src/bp/dvvd.txt
seop/cse220_home/scarab/src/build/
seop/cse220_home/test.json
.gitignore
